.right-panel{
    width:311px;
    padding: 0px 0px 0px;
    position: sticky;
    top:60px;
    right:0;
    height:calc(115vh - 70px);
    overflow-y: auto;
}

.name-tags {
    width:311.2px;
    height:20px;
    padding:20px 16px 4px;
    margin-bottom: 8px;

}
.name-tags p{
    width:279.2px;
    height:21px;
    padding:0px 0px 1px;
    font-size: 17px;
    color:#65676B;
    margin:0px;
}


hr.line{
    width: 311px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(156, 151, 151, 0.3);
    object-fit: cover;

}