.post-create{
    width: 590px;
    height:127px;
    padding: 12px 16px 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;

}
.post-create .post-create-bot{
    
    width:558px;
    height:52.8px;
    display: flex;
    padding-top:8px;
    /* align-items: center; */
}
.post-create .post-top{
    display: flex;

}
.post-create hr{
    margin-top: 10px;
    width: 560px;
}
.post-create-bot .button-below-post-create{
    width:186px;
    height:32px;
    padding: 8px;
    display:flex;
    align-items: center;
    place-items: center;
    padding-left: 25px;
    cursor: pointer;
}
.post-create-bot .button-below-post-create:hover{
    background-color: #F0F2F5;
    border-radius: 10px;
}

.post-create-bot .button-below-post-create img{
    width:26px;
    height:26px;
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    color:#65676B;
}

.post-create-bot .button-below-post-create span{
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
    color:#65676B;
    height:19.99px;
    align-items: center;
    margin-left: 10px;
    padding: 3.5px;

}

.post-top > input{
    border-radius:25px;
    width:510px;
    height:25px;
    background: #F2F0F5;
    padding: 8px 12px;
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: 5px;
    border:none;
    color:65676B;
    outline: none;
    cursor: pointer;
}
.post-top > input:hover{
    background-color: #E4E6EB;
}