.nav-right{
    width:204px;
    height:56px;
    padding: 0px 16px 0px 4px;
    display: flex;
    align-items: center;
}

.nav-right .profile {
    /* background: url("./icon/bell.svg"); */
    height:40px;
    width:40px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

.nav-right a{
    text-decoration: none;
    color:#333;
    height:40px;
    width:40px;
    border-radius: 50%;
    background:#eee;
    display:flex;
    place-items: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}
.nav-right a > img{
    font-size:18px;
    width:18px;
    height:18px;
    place-items: center;
    margin-top:3px;
    margin-left: 11px;
}
.nav-dot-bl{
    position:absolute;
    z-index: 3;
    background-color: #e91c1c;
    border:#fff 2px solid;
    width:18px;
    height:18px;
    border-radius:50px;
    margin-top: -33px;
    margin-left: 25px;
}
.nav-dot-bl p{
    color:#fff;
    font-size: 13px;
    padding :0px 5px;
    margin-top: 0px;
}

.nav-dot-bl-pf{
    position:absolute;
    z-index: 3;
    background-color: #cc2121;
    border:#fff 2px solid;
    width:11px;
    height:11px;
    border-radius:50px;
    margin-top: -2px;
    margin-left: 25px;
}